<div class="container_NavBar">
  <div class="NavBar">
    <img
      class="iconImage"
      src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
      alt="iconImage"
      (click)="goHome()"
    />
    <ul class="options">
      <li class="select">
        <div class="titleSelect" (click)="toggleOptions('Movies')">
          Peliculas
        </div>
        <ul class="optionsSelect" *ngIf="optionsVisibleMovies">
          <li>Popular</li>
          <li>Mejor valoradas</li>
        </ul>
      </li>
      <li class="select">
        <div class="titleSelect" (click)="toggleOptions('Tv')">
          Programas de Television
        </div>
        <ul class="optionsSelect" *ngIf="optionsVisibleTv">
          <li>Popular</li>
          <li>Mejor valoradas</li>
        </ul>
      </li>
    </ul>
    <button class="btnLogin">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </div>
</div>
